<template>
  <div class="q-pa-lg row justify-center">
    <div
      class="col"
      style="max-width: 1000px"
    >
      <q-table
        grid
        card-class="bg-primary text-white"
        v-if="isMounted"
        title="Lists"
        :data="AllLists"
        :columns="columns"
        row-key="UIDAlbumsLists"
        hide-header
        hide-pagination
        :pagination.sync="pagination"
        flat
      >
        <template
          v-slot:item="props"
        >
          <div
            class="q-pa-xs col-xs-4 col-sm-2 col-md-2"
            :ratio="1"
            @click="onOpenList(props.row)"
          >
            <q-card>
              <q-img
                ratio="1"
                :src="props.row.ImgLink"
                basic
              >
                <div class="absolute-bottom ">
                  <div class="text-subtitle2">
                    {{ props.row.AlbumListTitle }}
                  </div>
                </div>
              </q-img>
            </q-card>
          </div>
        </template>
      </q-table>
      <div class="q-pa-lg flex flex-center">
        <q-pagination
          v-model="pagination.page"
          color="primary"
          :max="pagesNumber"
          :max-pages="6"
          :boundary-numbers="false"
        />
      </div>
      <q-table
        style="max-height: 700px"
        v-if="isMounted"
        title="Music"
        :data="Musics"
        :columns="columns"
        :filter="filter"
        row-key="UIDMusic"
        hide-header
        flat
        virtual-scroll
        :pagination.sync="paginationM"
        :rows-per-page-options="[0]"
      >
        <template v-slot:top-right>
          <q-input
            borderless
            dense
            debounce="300"
            color="primary"
            placeholder="Search"
            v-model="filter"
          >
            <template v-slot:append>
              <q-icon name="search" />
            </template>
          </q-input>
        </template>

        <template v-slot:body-cell="props">
          <q-td
            :props="props"
            auto-width
            @click="onOpenLink(props.row)"
          >
            <q-avatar
              rounded
              v-if="props.col.name==='Img'"
              size="xl"
            >
              <img
                ratio="1"
                :src="props.row.ImgLink"
                basic
              >
            </q-avatar>
            <div
              class="column"
              v-if="props.col.name==='Title'"
            >
              <q-item-label lines="1">
                {{ props.row.Title }}
              </q-item-label>
              <q-item-label caption>
                {{ props.row.Genre }}
              </q-item-label>
            </div>
            <q-btn
              dense
              color="primary"
              icon="add_box"
              v-if="props.col.name==='Actions'"
              @click.stop="onSelectAddToList(props.row)"
            >
              <q-tooltip
                transition-show="flip-right"
                transition-hide="flip-left"
                content-class="bg-black"
                anchor="bottom middle"
                self="top middle"
                :offset="[10, 2]"
              >
                <div>Add to list</div>
              </q-tooltip>
              <q-menu

                anchor="top left"
                self="top right"
                max-height="400px"
              >
                <q-item
                  class="row justify-start"
                  style="max-height: 40px; min-width: 200px;"
                  v-for="rowL in MyLists"
                  :key="rowL.id"
                  clickable
                  v-close-popup
                  @click.stop="onAddToList(rowL.UIDAlbumsLists)"
                >
                  <q-item-section class=" col-2">
                    <q-avatar
                      rounded
                      size="md"
                    >
                      <img
                        ratio="1"
                        :src="rowL.ImgLink"
                        basic
                      >
                    </q-avatar>
                  </q-item-section>
                  <q-item-section class=" col-md-auto">
                    {{ rowL.AlbumListTitle }}
                  </q-item-section>
                </q-item>
              </q-menu>
            </q-btn>
          </q-td>
        </template>
      </q-table>
    </div>
    <q-dialog
      v-if="openDialog"
      v-model="openDialog"
    >
      <q-card style="width: 700px; max-width: 80vw;">
        <q-card-section class="row justify-between">
          <div class="text-h5 text-bold">
            <q-avatar
              rounded
              size="60px"
            >
              <img
                ratio="1"
                :src="MusicInList.ImgLink"
                basic
              >
            </q-avatar>
            {{ MusicInList.AlbumListTitle }}
          </div>
          <q-btn
            style="max-height:35px; max-width:35px"
            class="on-right"
            flat
            v-close-popup
            round
            dense
            icon="close"
          />
        </q-card-section>

        <q-separator />

        <q-card-section
          style="max-height: 70vh"
          class="scroll"
        >
          <q-table
            auto-height
            :data="MusicInList.Music"
            :columns="columns"
            row-key="UIDMusic"
            hide-header
            flat
            :table-colspan="9"
            :pagination="paginationM"
            :rows-per-page-options="[0]"
          >
            <template v-slot:body-cell="props">
              <q-td
                :props="props"
                auto-width
                @click="onOpenLink(props.row)"
              >
                <q-avatar
                  rounded
                  v-if="props.col.name==='Img'"
                  size="xl"
                >
                  <img
                    ratio="1"
                    :src="props.row.ImgLink"
                    basic
                  >
                </q-avatar>

                <div
                  class="column"
                  v-if="props.col.name==='Title'"
                >
                  <q-item-label lines="1">
                    {{ props.row.Title }}
                  </q-item-label>
                  <q-item-label caption>
                    {{ props.row.Genre }}
                  </q-item-label>
                </div>
                <q-btn
                  dense
                  color="primary"
                  icon="add_box"
                  v-if="props.col.name==='Actions'"
                  @click.stop="onSelectAddToList(props.row)"
                >
                  <q-tooltip
                    transition-show="flip-right"
                    transition-hide="flip-left"
                    content-class="bg-black"
                    anchor="bottom middle"
                    self="top middle"
                    :offset="[10, 2]"
                  >
                    <div>Add to list</div>
                  </q-tooltip>
                  <q-menu

                    anchor="top left"
                    self="top right"
                    max-height="400px"
                  >
                    <q-item
                      class="row justify-start"
                      style="max-height: 40px; min-width: 200px;"
                      v-for="rowL in MyLists"
                      :key="rowL.id"
                      clickable
                      v-close-popup
                      @click.stop="onAddToList(rowL.UIDAlbumsLists)"
                    >
                      <q-item-section class=" col-2">
                        <q-avatar
                          rounded
                          size="md"
                        >
                          <img
                            ratio="1"
                            :src="rowL.ImgLink"
                            basic
                          >
                        </q-avatar>
                      </q-item-section>
                      <q-item-section class=" col-md-auto">
                        {{ rowL.AlbumListTitle }}
                      </q-item-section>
                    </q-item>
                  </q-menu>
                </q-btn>
              </q-td>
            </template>
          </q-table>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
import { openURL } from 'quasar'
export default {
  name: 'MusicsIndex',
  data () {
    return {
      filter: '',
      openDialog: false,
      paginationM: {
        rowsPerPage: 0
      },
      pagination: {
        sortBy: 'desc',
        descending: false,
        page: 1,
        rowsPerPage: 6
      },
      ImgPlaceHolder: [
        {
          name: 'Image not changed'
        }],
      UIDMusicZaDodat: null,
      fileImage: null,
      Music: null,
      musicModel: {
        UIDMusic: null,
        Title: null,
        Genre: null,
        ImgLink: null,
        SongLink: null,
        ImgPath: null
      },
      listModelF: null,
      listModelM: {
        UIDAlbumsLists: null,
        AlbumListTitle: null,
        ImgLink: null,
        ImgPath: null,
        User: null,
        Music: []
      },
      listModel: {
        UIDAlbumsLists: null,
        AlbumListTitle: null,
        ImgLink: null,
        User: null,
        ImgPath: null
      },
      isMounted: false,
      MusicInList: null,
      Musics: [],
      MyLists: [],
      AllLists: [],
      columns: [
        {
          name: 'Img',
          align: 'left',
          field: false,
          sortable: false
        },
        {
          name: 'Title',
          align: 'left',
          field: 'Title',
          sortable: true
        },
        {
          name: 'Actions',
          align: 'right',
          field: 'Genre',
          sortable: true
        }
      ]
    }
  },
  mounted: function () {
    this.$db.collection('Music').get()
      .then((rows) => {
        rows.forEach((row) => {
          this.Musics.push(row.data())
        })
        this.isMounted = true
      })

    this.$db.collection('AlbumsLists').where('User', '==', this.$auth.currentUser.email).get()
      .then((rows) => {
        rows.forEach((row) => {
          this.MyLists.push(row.data())
        })
        this.isMounted = true
      })

    this.$db.collection('AlbumsLists').get()
      .then((rows) => {
        rows.forEach((row) => {
          this.$db.collection('AlbumsLists').doc(row.id).collection('Music').get()
            .then((rowss) => {
              var ls = row.data()
              this.listModelF = null
              this.listModelF = JSON.parse(JSON.stringify(this.listModelM))
              this.listModelF.UIDAlbumsLists = ls.UIDAlbumsLists
              this.listModelF.User = ls.User
              this.listModelF.ImgLink = ls.ImgLink
              this.listModelF.ImgPath = ls.ImgPath
              this.listModelF.AlbumListTitle = ls.AlbumListTitle
              rowss.forEach((roww) => {
                this.listModelF.Music.push(roww.data())
              })
              this.AllLists.push(this.listModelF)
            })
        })
        this.isMounted = true
      })
  },
  computed: {
    pagesNumber () {
      return Math.ceil(this.AllLists.length / this.pagination.rowsPerPage)
    }
  },
  methods: {
    onOpenLink (row) {
      const docRef = this.$db.collection('Music').doc(row.UIDMusic)
      docRef.get().then((doc) => {
        // uzmi link pjesme i otvori ga u novoj kartici
        console.log('Document data:', doc.data().SongLink)
        openURL(
          doc.data().SongLink
        )
      }).catch((error) => {
        console.log('Error getting document:', error)
      })
    },
    onSelectAddToList (row) {
      this.Music = JSON.parse(JSON.stringify(this.musicModel))
      for (const attributeName in this.Music) {
        this.Music[attributeName] = JSON.parse(JSON.stringify(row[attributeName]))
      }
      this.fileImage = this.ImgPlaceHolder
    },
    onAddToList (row) {
      this.$db.collection('AlbumsLists').doc(row).collection('Music').doc(this.Music.UIDMusic)
        .get().then(doc => {
          if (!doc.exists) {
            this.$db.collection('AlbumsLists').doc(row).collection('Music').doc(this.Music.UIDMusic).set(this.Music)
            console.log('Data in var', this.Music.UIDMusic)
          } else {
            console.log('Vec je u listi!')
          }
        })
    },
    onOpenList (ListOpn) {
      this.MusicInList = ListOpn

      this.openDialog = true
    }
  }
}
</script>
