<template>
  <div class="q-pa-lg row justify-center">
    <q-list
      class="full-width"
      sclass="q-pa-md"
      style="max-width: 1000px"
    >
      <q-btn
        color="primary"
        label="Add List"
        class="q-ma-md"
        @click="onNewRow"
      />

      <q-expansion-item
        switch-toggle-side
        v-for="row in Lists"
        :key="row.id"
      >
        <template v-slot:header>
          <q-item-section avatar>
            <q-avatar rounded>
              <img
                ratio="1"
                :src="row.ImgLink"
                basic
              >
            </q-avatar>
          </q-item-section>

          <q-item-section>
            {{ row.AlbumListTitle }}
          </q-item-section>
          <div align="right">
            <q-btn
              dense
              color="primary"
              icon="edit"
              @click.stop="onUpdateRow(row)"
            >
              <q-tooltip
                transition-show="flip-right"
                transition-hide="flip-left"
                content-class="bg-black"
                anchor="bottom middle"
                self="top middle"
                :offset="[10, 2]"
              >
                <div>Edit</div>
              </q-tooltip>
            </q-btn>
            <q-btn
              dense
              color="primary"
              icon="delete"
              @click.stop="onDeleteRow(row)"
            >
              <q-tooltip
                transition-show="flip-right"
                transition-hide="flip-left"
                content-class="bg-black"
                anchor="bottom middle"
                self="top middle"
                :offset="[10, 2]"
              >
                <div>Delete</div>
              </q-tooltip>
            </q-btn>
          </div>
        </template>

        <q-card>
          <q-card-section>
            <q-table
              v-if="isMounted"
              :data="row.Music"
              :columns="columns"
              :filter="filter"
              row-key="UIDMusic"
              hide-header
              flat
            >
              <template v-slot:body-cell="props">
                <q-td
                  :props="props"
                  auto-width
                >
                  <q-item-section
                    avatar
                    v-if="props.col.name==='Img'"
                  >
                    <q-avatar rounded>
                      <img
                        ratio="1"
                        :src="props.row.ImgLink"
                        basic
                      >
                    </q-avatar>
                  </q-item-section>

                  <div
                    class="column"
                    v-if="props.col.name==='Title'"
                  >
                    <q-item-label lines="1">
                      {{ props.row.Title }}
                    </q-item-label>
                    <q-item-label caption>
                      {{ props.row.Genre }}
                    </q-item-label>
                  </div>
                  <q-btn
                    dense
                    color="primary"
                    icon="remove"
                    v-if="props.col.name==='Actions'"
                    @click="onRemoveFromList(props.row, row)"
                  >
                    <q-tooltip
                      transition-show="flip-right"
                      transition-hide="flip-left"
                      content-class="bg-black"
                      anchor="bottom middle"
                      self="top middle"
                      :offset="[10, 2]"
                    >
                      <div>Remove from list</div>
                    </q-tooltip>
                  </q-btn>
                </q-td>
              </template>
            </q-table>
          </q-card-section>
        </q-card>
      </q-expansion-item>
    </q-list>

    <q-dialog
      v-if="openDialog"
      v-model="openDialog"
    >
      <q-card class="q-dialog-plugin">
        <q-card-section>
          <div class="text-h6">
            Music
          </div>
        </q-card-section>
        <q-separator />
        <q-card-section>
          <q-input
            ref="Title"
            :error="!List.AlbumListTitle || List.AlbumListTitle.length === 0"
            error-message="Title is required."
            label="Title"
            v-model="List.AlbumListTitle"
          />
          <q-file
            ref="ImgLink"
            :error="!fileImage || fileImage === 0"
            error-message="Image is required."
            v-model="fileImage"
            label="Image"
            accept=".jpg"
          >
            <template v-slot:prepend>
              <q-icon name="insert_photo" />
            </template>
          </q-file>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn
            color="primary"
            label="OK"
            @click="onOKClick"
          />
          <q-btn
            color="primary"
            label="Cancel"
            @click="onCancelClick"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
export default {
  name: 'MusicsIndex',
  data () {
    return {
      filter: null,
      ImgPlaceHolder: [
        {
          name: 'Image not changed'
        }],
      fileImage: null,
      openDialog: false,
      List: null,
      AlbumsLists: null,
      musicModel: {
        UIDMusic: null,
        Title: null,
        Genre: null,
        ImgLink: null,
        SongLink: null,
        ImgPath: null
      },
      listModel: null,
      listModelM: {
        UIDAlbumsLists: null,
        AlbumListTitle: null,
        ImgLink: null,
        ImgPath: null,
        User: null,
        Music: []
      },
      listModelP: {
        UIDAlbumsLists: null,
        AlbumListTitle: null,
        ImgLink: null,
        User: null,
        ImgPath: null
      },
      isMounted: false,
      Musics: [],
      Lists: [],
      columns: [
        {
          name: 'Img',
          label: 'Img',
          align: 'left',
          field: false,
          sortable: false
        },
        {
          name: 'Title',
          label: 'Title',
          align: 'left',
          field: 'Title',
          sortable: true
        },
        {
          name: 'Actions',
          label: 'Actions',
          align: 'right',
          field: null,
          sortable: false
        }
      ]
    }
  },
  mounted: function () {
    const collectionRef = this.$db.collection('AlbumsLists').where('User', '==', this.$auth.currentUser.email)
    collectionRef.get()
      .then((rows) => {
        rows.forEach((row) => {
          this.$db.collection('AlbumsLists').doc(row.id).collection('Music').get()
            .then((rowss) => {
              var ls = row.data()
              this.listModel = null
              this.listModel = JSON.parse(JSON.stringify(this.listModelM))

              this.listModel.UIDAlbumsLists = ls.UIDAlbumsLists
              this.listModel.User = ls.User
              this.listModel.ImgLink = ls.ImgLink
              this.listModel.ImgPath = ls.ImgPath
              this.listModel.AlbumListTitle = ls.AlbumListTitle
              rowss.forEach((roww) => {
                this.listModel.Music.push(roww.data())
              })
              this.Lists.push(this.listModel)
            })
        })
        this.isMounted = true
      })
  },
  methods: {
    onNewRow () {
      this.List = JSON.parse(JSON.stringify(this.listModelP))
      this.openDialog = true
    },
    onOKClick () {
      if (!this.$refs.Title.hasError) {
        var storageRef = this.$storage.ref()
        // ako je izmjenjena slika kod updejta ili kod dodaje nove pjesme dodaje se jedinstveni naziv slike
        if (this.fileImage !== this.ImgPlaceHolder) {
          var uuid = require('uuid')
          var imgPName = 'List_Image/' + uuid.v4() + '.jpg'
          const uploadTask = storageRef.child(imgPName)
          this.List.ImgPath = String(imgPName)
          uploadTask.put(this.fileImage)
            .then((snapshot) => {
              snapshot.ref.getDownloadURL()
                .then((downloadURL) => {
                  this.List.ImgLink = String(downloadURL)
                  // ako se ubacuje nova glazba
                  if (this.List.UIDAlbumsLists === null) {
                    const collectionRef = this.$db.collection('AlbumsLists')
                    this.List.User = this.$auth.currentUser.email
                    collectionRef.add(this.List)
                      .then((doc) => {
                        this.List.UIDAlbumsLists = doc.id
                        var docRef = this.$db.collection('AlbumsLists').doc(doc.id)
                        docRef.update({ UIDAlbumsLists: doc.id })
                          .then((response) => {
                            this.List.UIDAlbumsLists = doc.id
                            this.Lists.push(this.List)
                            this.openDialog = false
                          })
                          .catch(function (error) {
                            console.error('Error adding document: ', error)
                          })
                      })
                      .catch(function (error) {
                        console.error('Error adding document: ', error)
                      })
                      // ako se izmjenjuju podatci glazbe
                  } else {
                    var docRef = this.$db.collection('AlbumsLists').doc(this.List.UIDAlbumsLists)
                    docRef.get().then((doc) => {
                      // uzima path stare slike i brise ju te uploada novu i zamjenjuje imgpath u datoteci glazbe

                      var desertRef = storageRef.child(doc.data().ImgPath)
                      desertRef.delete()
                        .then(
                          docRef.set(this.List)
                            .then((response) => {
                              const Lst = this.Lists.find(List => List.UIDAlbumsLists === this.List.UIDAlbumsLists)
                              if (Lst) {
                                for (const attributeName in this.List) {
                                  Lst[attributeName] = JSON.parse(JSON.stringify(this.List[attributeName]))
                                }
                              }
                              this.openDialog = false
                            })
                            .catch(function (error) {
                              console.error('Error adding document: ', error)
                            })
                        )
                    })
                  }
                })
            })
            // ako se ne izmijeni slika
        } else {
          var docRef = this.$db.collection('AlbumsLists').doc(this.List.UIDAlbumsLists)
          docRef.set(this.List)
            .then((response) => {
              const Lst = this.Lists.find(List => List.UIDAlbumsLists === this.List.UIDAlbumsLists)
              if (Lst) {
                for (const attributeName in this.List) {
                  Lst[attributeName] = JSON.parse(JSON.stringify(this.List[attributeName]))
                }
              }
              this.openDialog = false
            })
            .catch(function (error) {
              console.error('Error adding document: ', error)
            })
        }
      }
    },
    onCancelClick () {
      this.openDialog = false
    },
    onUpdateRow (List) {
      this.List = JSON.parse(JSON.stringify(this.listModelP))
      for (const attributeName in this.List) {
        this.List[attributeName] = JSON.parse(JSON.stringify(List[attributeName]))
      }
      this.fileImage = this.ImgPlaceHolder
      this.openDialog = true
    },
    onDeleteRow (row) {
      this.$q.dialog({
        title: 'Delete',
        message: 'Confirm deletion.',
        ok: true,
        cancel: true
      }).onOk(() => {
        var storageRef = this.$storage.ref()

        const docRef = this.$db.collection('AlbumsLists').doc(row.UIDAlbumsLists)
        docRef.get().then((doc) => {
          // uzmi path od slike i obrisi ga
          var desertRef = storageRef.child(doc.data().ImgPath)
          desertRef.delete()
            .then(
              // nakon brisanja slike obrisi datoteku
              docRef.delete()
                .then(() => {
                  const index = this.Lists.findIndex(List => List.UIDAlbumsLists === row.UIDAlbumsLists)
                  if (index >= 0) {
                    this.Lists.splice(index, 1)
                  }
                }).catch((error) => {
                  console.error('Error removing document: ', error)
                })
            )
        }).catch((error) => {
          console.log('Error getting document:', error)
        })
      })
    },
    onRemoveFromList (Mus, Lis) {
      this.$q.dialog({
        title: 'Remove from list',
        message: 'Confirm to remove.',
        ok: true,
        cancel: true
      }).onOk(() => {
        this.$db.collection('AlbumsLists').doc(Lis.UIDAlbumsLists).collection('Music').doc(Mus.UIDMusic).delete()
          .then(() => {
            const indexL = this.Lists.findIndex(List => List.UIDAlbumsLists === Lis.UIDAlbumsLists)
            const indexM = this.Lists[indexL].Music.findIndex(Music => Music.UIDMusic === Mus.UIDMusic)
            if (indexL >= 0 && indexM >= 0) {
              this.Lists[indexL].Music.splice(indexM, 1)
            }
          }).catch((error) => {
            console.error('Error removing document: ', error)
          })
      })
    }
  }

}
</script>
