<template>
  <div class="q-pa-lg row justify-center">
    <div
      class="col"
      style="max-width: 1000px"
    >
      <q-btn
        color="primary"
        label="Add Music"
        class="q-ma-xs"
        @click="onNewRow"
      />
      <q-table
        v-if="isMounted"
        title="Music"
        :data="Musics"
        :columns="columns"
        :filter="filter"
        row-key="UIDMusic"
        :pagination="pagination"
        :rows-per-page-options="[0]"
        flat
      >
        <template v-slot:top-right>
          <q-input
            borderless
            dense
            debounce="300"
            color="primary"
            placeholder="Search"
            v-model="filter"
          >
            <template v-slot:append>
              <q-icon name="search" />
            </template>
          </q-input>
        </template>
        <template v-slot:body-cell="props">
          <q-td :props="props">
            <q-avatar
              rounded
              v-if="props.col.name==='Img'"
              size="xl"
            >
              <img
                ratio="1"
                :src="props.row.ImgLink"
                basic
              >
            </q-avatar>

            <div v-if="props.col.name==='actions'">
              <q-btn
                dense
                color="primary"
                icon="link"
                @click="onOpenLink(props.row)"
              >
                <q-tooltip
                  transition-show="flip-right"
                  transition-hide="flip-left"
                  content-class="bg-black"
                  anchor="bottom middle"
                  self="top middle"
                  :offset="[10, 2]"
                >
                  <div>Open link</div>
                </q-tooltip>
              </q-btn>
              <q-btn
                dense
                color="primary"
                icon="edit"
                @click="onUpdateRow(props.row)"
              >
                <q-tooltip
                  transition-show="flip-right"
                  transition-hide="flip-left"
                  content-class="bg-black"
                  anchor="bottom middle"
                  self="top middle"
                  :offset="[10, 2]"
                >
                  <div>Edit</div>
                </q-tooltip>
              </q-btn>
              <q-btn
                dense
                color="primary"
                icon="delete"
                @click="onDeleteRow(props.row)"
              >
                <q-tooltip
                  transition-show="flip-right"
                  transition-hide="flip-left"
                  content-class="bg-black"
                  anchor="bottom middle"
                  self="top middle"
                  :offset="[10, 2]"
                >
                  <div>Delete</div>
                </q-tooltip>
              </q-btn>
            </div>
            <div v-else>
              {{ props.row[props.col.field] }}
            </div>
          </q-td>
        </template>
      </q-table>
    </div>
    <q-dialog
      v-if="openDialog"
      v-model="openDialog"
    >
      <q-card class="q-dialog-plugin">
        <q-card-section>
          <div class="text-h6">
            Music
          </div>
        </q-card-section>
        <q-separator />
        <q-card-section>
          <q-input
            ref="Title"
            :error="!Music.Title || Music.Title.length === 0"
            error-message="Title is required."
            label="Title"
            v-model="Music.Title"
          />
          <q-input
            ref="Genre"
            :error="!Music.Genre || Music.Title.lenght === 0"
            error-message="Genre is required."
            label="Genre"
            v-model="Music.Genre"
          />
          <q-input
            ref="SongLink"
            :error="!Music.SongLink || Music.SongLink.lenght === 0"
            error-message="Link is required."
            label="Link"
            v-model="Music.SongLink"
          />
          <q-file
            ref="ImgLink"
            :error="!fileImage || fileImage === 0"
            error-message="Image is required."
            v-model="fileImage"
            label="Image"
            accept=".jpg"
          >
            <template v-slot:prepend>
              <q-icon name="insert_photo" />
            </template>
          </q-file>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn
            color="primary"
            label="OK"
            @click="onOKClick"
          />
          <q-btn
            color="primary"
            label="Cancel"
            @click="onCancelClick"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
import { openURL } from 'quasar'
export default {
  name: 'MusicsIndex',
  data () {
    return {
      pagination: {
        sortBy: 'desc',
        descending: false,
        rowsPerPage: 0

      },
      filter: '',
      ImgPlaceHolder: [
        {
          name: 'Image not changed'
        }],
      fileImage: null,
      openDialog: false,
      Music: null,
      musicModel: {
        UIDMusic: null,
        Title: null,
        Genre: null,
        ImgLink: null,
        SongLink: null,
        ImgPath: null,
        User: null
      },
      isMounted: false,
      Musics: [],
      columns: [
        {
          name: 'Img',
          label: 'Img',
          align: 'left',
          field: false,
          sortable: false
        },
        {
          name: 'Title',
          label: 'Title',
          align: 'left',
          field: 'Title',
          sortable: true
        },
        {
          name: 'Genre',
          label: 'Genre',
          align: 'left',
          field: 'Genre',
          sortable: true
        },
        {
          name: 'actions',
          label: 'Actions',
          align: 'right',
          field: null,
          sortable: false
        }
      ]
    }
  },
  mounted: function () {
    const collectionRef = this.$db.collection('Music').where('User', '==', this.$auth.currentUser.email)
    collectionRef.get()
      .then((rows) => {
        rows.forEach((row) => {
          this.Musics.push(row.data())
        })
        this.isMounted = true
      })
  },
  methods: {
    onNewRow () {
      this.Music = JSON.parse(JSON.stringify(this.musicModel))
      this.openDialog = true
    },
    onOKClick () {
      if (!this.$refs.Title.hasError) {
        var storageRef = this.$storage.ref()
        // ako je izmjenjena slika kod updejta ili kod dodaje nove pjesme dodaje se jedinstveni naziv slike
        if (this.fileImage !== this.ImgPlaceHolder) {
          var uuid = require('uuid')
          var imgPName = 'Music_Image/' + uuid.v4() + '.jpg'
          const uploadTask = storageRef.child(imgPName)
          this.Music.ImgPath = String(imgPName)
          uploadTask.put(this.fileImage)
            .then((snapshot) => {
              snapshot.ref.getDownloadURL()
                .then((downloadURL) => {
                  this.Music.ImgLink = String(downloadURL)
                  // ako se ubacuje nova glazba
                  if (this.Music.UIDMusic === null) {
                    const collectionRef = this.$db.collection('Music')

                    this.Music.User = this.$auth.currentUser.email
                    collectionRef.add(this.Music)
                      .then((doc) => {
                        this.Music.UIDMusic = doc.id
                        var docRef = this.$db.collection('Music').doc(doc.id)
                        docRef.update({ UIDMusic: doc.id })
                          .then((response) => {
                            this.Music.UIDMusic = doc.id
                            this.Musics.push(this.Music)
                            this.openDialog = false
                          })
                          .catch(function (error) {
                            console.error('Error adding document: ', error)
                          })
                      })
                      .catch(function (error) {
                        console.error('Error adding document: ', error)
                      })
                      // ako se izmjenjuju podatci glazbe
                  } else {
                    var docRef = this.$db.collection('Music').doc(this.Music.UIDMusic)
                    docRef.get().then((doc) => {
                      // uzima path stare slike i brise ju te uploada novu i zamjenjuje imgpath u datoteci glazbe

                      var desertRef = storageRef.child(doc.data().ImgPath)
                      desertRef.delete()
                        .then(
                          docRef.set(this.Music)
                            .then((response) => {
                              const Music = this.Musics.find(Music => Music.UIDMusic === this.Music.UIDMusic)
                              if (Music) {
                                for (const attributeName in this.Music) {
                                  Music[attributeName] = JSON.parse(JSON.stringify(this.Music[attributeName]))
                                }
                              }
                              this.openDialog = false
                            })
                            .catch(function (error) {
                              console.error('Error adding document: ', error)
                            })
                        )
                    })
                  }
                })
            })
            // ako se ne izmijeni slika
        } else {
          var docRef = this.$db.collection('Music').doc(this.Music.UIDMusic)
          docRef.set(this.Music)
            .then((response) => {
              const Music = this.Musics.find(Music => Music.UIDMusic === this.Music.UIDMusic)
              if (Music) {
                for (const attributeName in this.Music) {
                  Music[attributeName] = JSON.parse(JSON.stringify(this.Music[attributeName]))
                }
              }
              this.openDialog = false
            })
            .catch(function (error) {
              console.error('Error adding document: ', error)
            })
        }
      }
    },
    onCancelClick () {
      this.openDialog = false
    },
    onUpdateRow (Music) {
      this.Music = JSON.parse(JSON.stringify(this.musicModel))
      for (const attributeName in this.Music) {
        this.Music[attributeName] = JSON.parse(JSON.stringify(Music[attributeName]))
      }
      this.fileImage = this.ImgPlaceHolder
      this.openDialog = true
    },
    onDeleteRow (row) {
      this.$q.dialog({
        title: 'Delete',
        message: 'Confirm deletion.',
        ok: true,
        cancel: true
      }).onOk(() => {
        var storageRef = this.$storage.ref()

        const docRef = this.$db.collection('Music').doc(row.UIDMusic)
        docRef.get().then((doc) => {
          // uzmi path od slike i obrisi ga
          var desertRef = storageRef.child(doc.data().ImgPath)
          desertRef.delete()
            .then(
              // nakon brisanja slike obrisi datoteku
              docRef.delete()
                .then(() => {
                  const index = this.Musics.findIndex(Music => Music.UIDMusic === row.UIDMusic)
                  if (index >= 0) {
                    this.Musics.splice(index, 1)
                  }
                  this.$db.collection('AlbumsLists').get()
                    .then(docs => {
                      docs.forEach((doc) => {
                        this.$db.collection('AlbumsLists').doc(doc.id).collection('Music').where('UIDMusic', '==', row.UIDMusic).get()
                          .then((docsM) => {
                            docsM.forEach((docM) => {
                              this.$db.collection('AlbumsLists').doc(doc.id).collection('Music').doc(docM.id).delete()
                            })
                          })
                      })
                    })
                }).catch((error) => {
                  console.error('Error removing document: ', error)
                })
            )
        }).catch((error) => {
          console.log('Error getting document:', error)
        })
      })
    },
    onOpenLink (row) {
      const docRef = this.$db.collection('Music').doc(row.UIDMusic)
      docRef.get().then((doc) => {
        // uzmi link pjesme i otvori ga u novoj kartici
        openURL(
          doc.data().SongLink
        )
      }).catch((error) => {
        console.log('Error getting document:', error)
      })
    }
  }
}
</script>
