<template>
  <div class="q-pa-lg row justify-center">
    <div
      class="col"
      style="max-width: 400px"
    >
      <div
        class="row justify-center q-pb-xs"
      >
        <q-btn-toggle
          v-model="slide"
          :options="[
            { label: 'Login', value: 'login' },
            { label: 'Register', value: 'register' }
          ]"
        />
      </div>
      <q-carousel
        v-model="slide"
        transition-prev="scale"
        transition-next="scale"
        animated
        control-color="primary"
        class="rounded-borders full-height"
      >
        <q-carousel-slide
          name="login"
          class="no-wrap flex-center"
        >
          <q-form
            @submit="onLogin"
          >
            <q-card>
              <q-card-section>
                <div>
                  <q-input
                    filled
                    type="email"
                    v-model="email"
                    label="Email"
                    lazy-rules
                    :rules="[ val => emailPattern.test(val) || 'Please type valid email']"
                  />
                  <q-input
                    filled
                    type="password"
                    v-model="password"
                    label="Password"
                    lazy-rules
                    :rules="[ val => val && val.length > 0 || 'Please type password']"
                  />
                </div>
              </q-card-section>
              <q-card-actions align="right">
                <q-btn
                  label="Login"
                  type="submit"
                  color="primary"
                />
              </q-card-actions>
            </q-card>
          </q-form>
        </q-carousel-slide>
        <q-carousel-slide
          name="register"
          class="no-wrap flex-center register-slide"
        >
          <q-form
            @submit="registerUser"
          >
            <q-card>
              <q-card-section>
                <div>
                  <q-input
                    filled
                    v-model="username"
                    type="text"
                    label="Username"
                    lazy-rules
                    :rules="[ val => usernamePattern.test(val) || 'Only letters, numbers and _']"
                  />
                  <q-input
                    filled
                    v-model="emailRegister"
                    type="email"
                    label="Email"
                    lazy-rules
                    :rules="[ val => emailPattern.test(val) || 'Please type valid email']"
                  />
                  <q-input
                    filled
                    v-model="passwordRegister"
                    type="password"
                    label="Password"
                    lazy-rules
                    :rules="[ val => val && val.length > 0 || 'Please type password']"
                  />
                  <q-input
                    filled
                    v-model="passwordRegisterVerify"
                    type="password"
                    label="Verify password"
                    lazy-rules
                    :rules="[ val => val && val.length > 0 || 'Please type password']"
                  />
                </div>
              </q-card-section>
              <q-card-actions align="right">
                <q-btn
                  label="Register"
                  color="primary"
                  type="submit"
                />
              </q-card-actions>
            </q-card>
          </q-form>
        </q-carousel-slide>
      </q-carousel>
    </div>
  </div>
</template>
<script>
export default {
  name: 'LoginIndex',
  data () {
    return {
      emailPattern: /^(?=[a-zA-Z0-9@._%+-]{6,254}$)[a-zA-Z0-9._%+-]{1,64}@(?:[a-zA-Z0-9-]{1,63}\.){1,8}[a-zA-Z]{2,63}$/,
      usernamePattern: /^[a-zA-Z0-9_]{4,26}$/,
      email: null,
      password: null,
      username: null,
      slide: 'login',
      emailRegister: null,
      passwordRegister: null,
      passwordRegisterVerify: null
    }
  },
  mounted: function () {
    if (this.$auth.currentUser) {
      this.$router.push('/Home')
    }
  },
  methods: {
    onLogin () {
      this.$auth.signInWithEmailAndPassword(this.email, this.password)
        .then(response => {
          this.$router.push('/Home')
        })
        .catch(error => {
          console.log(error)
          this.$q.notify({
            type: 'negative',
            message: 'Login failed.'
          })
        })
    },
    registerUser () {
      if (this.passwordRegister !== this.passwordRegisterVerify) {
        this.$q.notify({
          message: "Passwords don't match.",
          color: 'red'
        }
        )
        this.passwordRegister = null
        this.passwordRegisterVerify = null
      } else {
        this.$auth.createUserWithEmailAndPassword(this.emailRegister, this.passwordRegister)
          .then((userCredential) => {
            var user = userCredential.user
            console.log(user)
            this.$router.push('/Administration')
            // Add a new document with a generated id.
            this.$db.collection('Users').add({
              Users_Username: this.username,
              Users_Email: this.emailRegister
            })
              .then((docRef) => {
                console.log('Document written with ID: ', docRef.id)
              })
              .catch((error) => {
                console.error('Error adding document: ', error)
              })
          })
          .catch((error) => {
            var errorCode = error.code
            var errorMessage = error.message
            console.log(errorCode + errorMessage)
          })
      }
    }
  }
}
</script>

<style>
.q-panel, .scroll{
  overflow: hidden;
}
</style>
